.events-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow: hidden;
}

.events-main #backVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.events-main .tech-title {
  margin-top: 10%;
}

/* Events Card */

.cards-container {
  height: 50vh;
  width: 100vw;
  max-height: 400px;
  max-width: 1200px;
  min-height: 400px;
  min-width: 1100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.panel {
  height: 60%;
  width: 60%;
  position: relative;
}

.panel:hover .card {
  filter: blur(1.5px);
}
.panel:hover .card1 {
  background-size: 215% 135%;
}
.panel:hover .card2 {
  background-size: 115% 115%;
}
.panel:hover .card3 {
  background-size: 155% 115%;
}
.panel:hover .title {
  color: rgba(255, 255, 255, 0.2);
}
.panel:hover .border {
  border: 1px solid rgba(255, 255, 255, 1);
}
.panel:hover .slide {
  bottom: 0px;
}
.panel:hover .ring:before,
.panel:hover .ring:after {
  transform: translateX(-50%) translateY(-50%) rotate(310deg);
}
.ring,
.card,
.border,
.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring {
  color: #fffbf1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 170px;
}

.card {
  background: #f0ead6;
  position: relative;
  transition: all 1s;
  height: 270px;
  width: 190px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.card1 {
  background-image: url("https://assets.codepen.io/489403/brazil.jpg");
  background-repeat: no-repeat;
  background-size: 200% 120%;
}

.card2 {
  background-image: url("https://assets.codepen.io/489403/belize.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card3 {
  background-image: url("https://assets.codepen.io/489403/egypt.jpg");
  background-repeat: no-repeat;
  background-size: 140% 100%;
}
.ring:before,
.ring:after {
  content: "";
  padding: 0.7em 0.4em;
  position: absolute;
  left: 50%;
  width: 115%;
  top: 50%;
  display: block;
  border: 5px solid #50c9c3;
  border-radius: 50%;
  transition: transform 1s;
  transform: translateX(-50%) translateY(-50%) rotate(50deg);
}
.ring:before {
  border-color: #ebebeb #ebebeb rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}
.ring:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ebebeb #ebebeb;
}
p {
  text-align: center;
  position: absolute;
  font-family: "Playfair Display";
}
.title {
  font-size: 36px;
  font-weight: 700;
  transition: all 1s;
  top: 0;
}
.para {
  bottom: 0;
  font-size: 16px;
  font-family: "Raleway";
  padding: 20px;
  margin: 0;
  text-align: center;
}
.border {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 260px;
  width: 180px;
  transition: border 1s;
  overflow: hidden;
}

.slide {
  height: 260px;
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
  font-weight: 700;
  width: 180px;
  position: absolute;
  border: 1px solid black;
  bottom: -270px;
  background: rgba(0, 0, 0, 0.5);
  transition: bottom 1s;
  flex-direction: column;
}

.fa-plane {
  font-size: 16px;
}

@media (max-width: 768px) {
  .cards-container {
    height: 500vh;
    min-height: 1200px;
    min-width: 100px;
    flex-direction: column;
  }

  .events-main {
    height: 250vh;
  }
}

.slide .e-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
