.about-main {
  background-color: #000;
  color: #fff;
}

#aboutUs {
  width: 100vw;
  height: 100vh;
  padding: 20vh 10vh 10vh 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow: hidden;
}

#left {
  width: 50%;
  height: 100%;
  padding: 20px;
  border: 7px solid purple;
  box-shadow: 0 0 10px 2px #a515d9;
  animation: glow 1s infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 2px #a515d9;
  }
  50% {
    box-shadow: 0 0 20px 4px #a515d9;
  }
  100% {
    box-shadow: 0 0 10px 2px #a515d9;
  }
}

#left img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#right {
  width: 50%;
  height: 100%;
}

#aboutUs hr {
  width: 30%;
  height: 2px;
  border: none;
  background-color: purple;
  margin-top: 10px;
  margin-bottom: 10px;
}

#right h4 {
  font-size: 2.7rem;
  margin-bottom: 2%;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  animation: glitch 1s infinite;
}

@keyframes glitch {
  0% {
    text-shadow: -4px -4px #8a2be2;
  }
  20% {
    text-shadow: 4px -4px #8a2be2;
  }
  40% {
    text-shadow: -4px 4px #8a2be2;
  }
  60% {
    text-shadow: 4px 4px #8a2be2;
  }
  80% {
    text-shadow: -4px -4px #8a2be2;
  }
  100% {
    text-shadow: 4px -4px #8a2be2;
  }
}

#right h1 {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
#right p {
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
}

#lastText {
  display: flex;
  margin-top: 40px;
}

#text1 {
  margin-right: 90px;
  margin-top: -25px;
}

#text2 {
  margin-top: -25px;
}

#lastText h3 {
  color: purple;
  font-weight: 700;
  font-size: 30px;
}

#lastText h5 {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

#profile {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

h1#staffHeading {
  text-align: center;
  margin-top: 3%;
  font-family: "Protest Strike", sans-serif;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0 0 20px rgb(172, 9, 172), 0 0 10px rgb(172, 9, 172),
    0 0 20px rgb(172, 9, 172), 0 0 40px rgb(172, 9, 172);
}
/* gallery */
.gallery {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.gallery .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}
.box img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid purple;
  padding: 6px;
  transition: all 0.3s ease-in-out;
}
.box .details {
  margin-top: 10px;
  text-align: center;
}
.details h2 {
  color: purple;
  font-weight: 800;
  padding-bottom: 5px;
  text-transform: capitalize;
}
.box:hover {
  transform: scale(1.1);
}
.box img:hover {
  border: 3px dotted purple;
}
#slide {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
}
#aboutUs h1 {
  font-family: "Protest Strike", sans-serif;
  letter-spacing: 2px;
  text-shadow: 0 0 20px rgb(172, 9, 172), 0 0 20px rgb(172, 9, 172),
    0 0 40px rgb(172, 9, 172), 0 0 60px rgb(172, 9, 172);
}
.slider {
  width: 1300px;
  max-width: 60vw;
  height: 70%;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list img {
  width: 1300px;
  max-width: 60vw;
  height: 100%;
  object-fit: fill;
}
.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active {
  width: 30px;
}

/* responsive */
@media (max-width: 1200px) {
  .slider {
    width: 1300px;
    max-width: 75vw;
    height: 70%;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
  }
  .slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
  }
  .slider .list img {
    width: 1300px;
    max-width: 75vw;
    height: 100%;
    object-fit: fill;
  }
}

@media (max-width: 700px) {
  #aboutUs {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15vh 5vh 5vh 5vh;
  }
  #aboutUs hr {
    position: relative;
    left: 35px;
    width: 80%;
    height: 4px;
    border-radius: 20px;
    text-align: center;
  }

  #left {
    width: 100%;
    height: 50%;
    padding: 20px;
    border: 7px solid purple;
    box-shadow: 0 0 5px 2px #a515d9;
  }

  #right {
    width: 100%;
    height: 50%;
  }

  #right h1 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
  #right h4 {
    color: purple;
    margin-bottom: 2%;
    font-size: 2rem;
    text-align: center;
  }

  #right p {
    text-align: center;
  }

  #profile {
    width: 100vw;
    height: 230vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
  }

  .gallery {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  #lastText {
    display: none;
  }

  .box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid purple;
    padding: 6px;
    transition: all 0.3s ease-in-out;
  }

  #respPara {
    display: none;
  }

  .slider {
    width: 1300px;
    max-width: 90vw;
    height: 55%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
  }
  .slider .list img {
    width: 1300px;
    max-width: 90vw;
    height: 100%;
    object-fit: fill;
  }
  #slide h1 {
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 30px;
    text-shadow: 0 0 20px rgb(172, 9, 172), 0 0 20px rgb(172, 9, 172),
      0 0 40px rgb(172, 9, 172), 0 0 60px rgb(172, 9, 172);
  }
  #profile #staffHeading {
    text-align: center;
    font-family: "Protest Strike", sans-serif;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 2.5rem;
    text-shadow: 0 0 20px rgb(172, 9, 172), 0 0 10px rgb(172, 9, 172),
      0 0 20px rgb(172, 9, 172), 0 0 40px rgb(172, 9, 172);
    margin-top: 10%;
  }

  #gallery-carousel h1 #staffHeading {
    text-align: center;
    font-family: "Protest Strike", sans-serif;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 0 0 20px rgb(172, 9, 172), 0 0 10px rgb(172, 9, 172),
      0 0 20px rgb(172, 9, 172), 0 0 40px rgb(172, 9, 172);
    margin-top: 50%;
  }
}

@media screen and (max-width: 700px) {
  #gallery-carousel {
    max-width: 100%;
    height: 80vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 2rem !important;
  }

  #gallery-carousel .carousel {
    margin-bottom: 20% !important;
  }

  #gallery-carousel .carousel .carousel-inner {
    width: 40vh !important;
    height: 30vh !important;
  }

  .slider-img {
    height: 30vh !important;
  }
}

/* Carousel */

#gallery-carousel {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20rem 10rem;
}

#gallery-carousel .carousel {
  border-radius: 2rem;
  border: 7px solid purple;
  box-shadow: 0 0 10px 2px #a515d9;
  animation: glow 1s infinite;
}

#gallery-carousel .carousel .carousel-inner {
  border-radius: 1.6rem;
  width: 150vh;
  height: 80vh;
}

.slider-img {
  max-width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  object-fit: cover;
  object-position: 50% 20%;
}

#gallery-carousel .carousel .carousel-inner .carousel-item img {
  animation: zoom 3s infinite linear;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.2);
  }
}
