/* Navigation Styles */

.navbar {
  background-color: #000;
  display: block;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
}

.navbar .navbar-nav .nav-item .nav-link {
  background-image: linear-gradient(to right, #af4fc7, #af4fa1 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.navbar .navbar-nav .nav-item .nav-link:before {
  content: "";
  background: #af4fc7;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.7s ease-in-out;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  font-size: 1.2rem;
  font-weight: 900;
  background-position: 0;
}

.navbar .navbar-nav .nav-item .nav-link:hover::before {
  width: 100%;
}

.navbar .navbar-brand {
  color: #af4fc7;
  font-size: 2rem;
  font-weight: 900;
  margin-left: 3%;
}

.navbar .navbar-toggler-icon {
  color: #fff;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

.navbar .nav-close {
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
  box-shadow: none;
}

.navbar .nav-close:focus {
  box-shadow: 0 0 0 0;
}

.navbar .offcanvas {
  background-color: #000;
}

.navbar .offcanvas .offcanvas-title {
  color: #af4fc7;
  font-size: 2rem;
  font-weight: 900;
  margin-left: 4%;
}

.navbar .off-title-btn,
.navbar .off-title-btn::after {
  background-color: transparent;
  padding: 0.5rem 1rem;
  outline: none;
  box-shadow: none;
  border: 0;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
}

.navbar .off-title-btn::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "EPULZ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #af4fc7 1%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.navbar .off-title-btn::after {
  animation: glitch 3s infinite;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.navbar .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.navbar .btn #container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

.navbar .btn strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 4px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

.navbar .btn #glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.navbar .btn .circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.navbar .btn .circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.navbar .btn .circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.navbar .btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.navbar .btn:hover {
  transform: scale(1.1);
}

.navbar .btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.navbar .btn:active .circle {
  background: #fe53bb;
}

.navbar .btn #stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

.navbar .btn #stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

.navbar .btn #stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

.navbar .btn #stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

.navbar .btn #stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.navbar .brand-btn,
.navbar .brand-btn::after {
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 0px #1df2f0, 3px 3px 0px #e94be8;
  background-color: transparent;
  position: relative;
}

.navbar .brand-btn::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: "2k24";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.navbar .brand-btn::after {
  animation: glitch_4011 infinite 3s linear;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

.navbar .brand-btn:hover {
  background-color: transparent;
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}
